apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service-deploy
  labels:
    name: user-service-deploy
    app: ctc-odp
spec:
  replicas: 1
  selector:
    matchLabels:
      name: user-service-pod
      app: ctc-odp
  template:
    metadata:
      name: user-service-pod
      labels:
        name: user-service-pod
        app: ctc-odp
    spec:
      nodeSelector:
        "kubernetes.io/os": linux
      containers:
        - name: user-service
          image: smdockercontainerreg.azurecr.io/images/user-service:latest
          ports:
            - containerPort: 8083
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
  labels:
    name: user-service-svc
    app: ctc-odp
spec:
  type: LoadBalancer
  ports:
    - port: 8083
      targetPort: 8083
      nodePort: 31033
  selector:
    name: user-service-pod
    app: ctc-odp
  
